* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f5f8;
}

.card-list {
  width: 90vw;
  max-width: 1170px;
  margin: 3rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
    height: fit-content;
  }
}

.movie-grid ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .movie-grid ul {
    grid-template-columns: repeat(2, 1fr);
  }
}